body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.navbar {
  background-color: #2a2a2a;
  padding: 20px 30px; 
}

.navbar-brand {
  font-weight: bold;
  color: #fff;
  font-size: 1.5rem;
}

.navbar-nav .nav-link {
  color: #fff;
  margin-right: 50px;
  font-size: 1.2rem;
}

.navbar-nav .nav-link:hover {
  color: #ccc;
}

